/Java/holamundo/nbproject/private/
/Java/holamundo/build/
/Java/ScrapingWeb/nbproject/private/
/Java/ScrapingWeb/build/
/Java/ScrapingWeb/dist/
/Java/ScrapingWebClarin/nbproject/private/
/Java/ScrapingWebClarin/build/
/Java/ScrapingWebDatos/nbproject/private/
/Java/ScrapingWebDatos/build/
/Java/ScrapingWebAxie/nbproject/private/
/Java/ScrapingWebAxie/build/
