/Java/Primer Semestre/JavaSQLServer/
/Java/Primer Semestre/Clase_11/build/
/Java/Primer Semestre/Clase_11/nbproject/private/
/Java/Primer Semestre/Leccion_2/build/
/Java/Primer Semestre/Leccion_2/nbproject/private/
/Java/Primer Semestre/holamundo/build/
/Java/Primer Semestre/holamundo/nbproject/private/
/Java/Segundo Semestre/Clase01/nbproject/private/
/Java/Segundo Semestre/Clase01/build/
/Java/Segundo Semestre/Leccion 3/LeccionClasesObjetos/nbproject/private/
/Java/Segundo Semestre/Para Presentar/
/Java/Segundo Semestre/Leccion 3/Clase03/nbproject/private/
/Java/Segundo Semestre/Leccion 3/Clase03/build/
/Java/Segundo Semestre/Leccion 3/LeccionClasesObjetos/build/
/Java/Segundo Semestre/Leccion 3/Leccion4/Aritmetica/nbproject/private/
/Java/Segundo Semestre/Leccion 3/Clase04/Aritmetica/nbproject/private/
/Java/Segundo Semestre/Leccion4/Aritmetica/nbproject/private/
/Java/Segundo Semestre/Leccion 3/ProyectoCaja/nbproject/private/
/Java/Segundo Semestre/Leccion 3/GestionExamenes/nbproject/private/
/Java/Segundo Semestre/New Folder/Encapsulamiento/nbproject/private/
/Alura/
/Java/Tercer Semestre/Leccion02/TestArgumentosVariables/nbproject/private/
/Java/Tercer Semestre/Leccion02/TestArgumentosVariables/build/
